* {
    font-family: "Ubuntu Regular", Verdana, sans-serif;
}

.filler {
    color: rgba(255, 255, 255, 0);
    opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu Mono", "Courier New", monospace;
}

table, th, td, tr, thead, tbody {
    border: 2px solid rgba(61, 15, 39, 1);
    border-collapse: collapse;
}

footer {
    background-color: rgba(196, 116, 157, 0.1);
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 2% 5%;
}

a {
    font-family: inherit;
    color: inherit;
}
